version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mern_mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    volumes:
      - mongo-data:/data/db  # <--- CRITICAL: This saves your data!

volumes:
  mongo-data: